<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">USERS</li>
    <li><a href="/Expenses/GetExpenses"><span>My Expenses</span></a></li>
    <li><a href="/Expenses/Create"><span>Add Expense</span></a></li>

    @*<li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Expenses</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="../../index.html"><i class="fa fa-circle-o"></i> My Expenses</a></li>
            <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Add Expense</a></li>
        </ul>
    </li>*@
    <li class="header">MANAGERS</li>
    <li><a href="#"><span>Manage Expenses</span></a></li>
    <li><a href="#"><span>My Team</span></a></li>

    <li class="header">FINANCE</li>
    <li><a href="#"><span>Manage Expenses</span></a></li>
    <li><a href="#"><span>Manage User Cards</span></a></li>

    <li class="header">&nbsp;</li>
    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
</ul>