@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Blank example to the fixed layout</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Fixed</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- Users -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Users</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li>
                            <a class="users-list-name" href="/Expenses/GetExpenses">My Expenses</a>
                            <span class="users-list-date">Today</span>
                        </li>
                        <li>
                            <a class="users-list-name" href="/Expenses/Create">Add Expense</a>
                            <span class="users-list-date">Yesterday</span>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>
            <!--/.box -->
        </div>

        <!-- Managers -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Managers</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li>
                            <a class="users-list-name" href="#">Manage Expenses</a>
                            <span class="users-list-date">Today</span>
                        </li>
                        <li>
                            <a class="users-list-name" href="#">My Team</a>
                            <span class="users-list-date">Yesterday</span>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>
            <!--/.box -->
        </div>

        <!-- Finance -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Finance</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li>
                            <a class="users-list-name" href="#">Manage Expenses</a>
                            <span class="users-list-date">Today</span>
                        </li>
                        <li>
                            <a class="users-list-name" href="#">Manage User Cards</a>
                            <span class="users-list-date">Yesterday</span>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>
            <!--/.box -->
        </div>
    </div>
    @*<div class="callout callout-info">
        <h4>Tip!</h4>
        <p>
            Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your sidebar
            is bigger than your content because it prevents extra unwanted scrolling.
        </p>
    </div>*@
</section>
<!-- /.content -->

<!-- ORIGINAL -->
@*<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <h4>
            <a href="@Url.Action("Index", "AdminContentKeys")" class="lt-black"><i class="fa fa-users fa-5x"></i> <br />Users</a>
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>
            <a href="@Url.Action("Index", "Websites")" class="lt-black"><i class="fa fa-user-secret fa-5x"></i> <br />Managers</a>
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>
            <a href="@Url.Action("Index", "ContentPages")" class="lt-black"><i class="fa fa-dollar fa-5x"></i> <br />Finance</a>
        </h4>
    </div>
</div>*@