@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Fixed Layout
        <small>Blank example to the fixed layout</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Fixed</li>
    </ol>
</section>
<section class="content">
    <div class="callout callout-info">
        <h4>Tip!</h4>
        <p>
            Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your sidebar
            is bigger than your content because it prevents extra unwanted scrolling.
        </p>
    </div>
</section>
<!-- /.content -->

<!-- ORIGINAL -->
@*<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <h4>
            <a href="@Url.Action("Index", "AdminContentKeys")" class="lt-black"><i class="fa fa-users fa-5x"></i> <br />Users</a>
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>
            <a href="@Url.Action("Index", "Websites")" class="lt-black"><i class="fa fa-user-secret fa-5x"></i> <br />Managers</a>
        </h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>
            <a href="@Url.Action("Index", "ContentPages")" class="lt-black"><i class="fa fa-dollar fa-5x"></i> <br />Finance</a>
        </h4>
    </div>
</div>*@